@use 'partial_color';

body {
  	background-color: partial_color.$default-background-color;
}

.nav_bar {
	
	.title, .nav_links {
	}

	.title{
		color: black;
		text-decoration: none;
	}
	.title:visited {
		color: black;
		text-decoration: none;
	}



	.nav_links{

		.nav_link {
			color: #b3b3b3;
			text-decoration: none;
		}
		.nav_link:hover {
			color:black;
			text-decoration: none;
		};
		.nav_link_chosen {
			color:black;
			text-decoration: none;

		}
	}
}

.nav_modal {
 	opacity: 0.5;
 	background-color: white; //#e5e5e5;

 	.nav_modal_link {
 		text-decoration: none;
 		color:black;
 	}
 	.nav_modal_link:visited {
 		text-decoration: none;
 		color:black;
 	}
 	.nav_modal_link:active {
 		text-decoration: none;
 		color:black;
 	}
 	.nav_modal_link:hover {
 		text-decoration: none;
 		color:black;
 	}
}




.content {

	.project_cards {
		.project_card_theana {
			background: url("../../images/light_purple.png") no-repeat;
		}
		.project_card_pashi {
			background: url("../../images/light_pink.png") no-repeat;
		}
		.project_card_phonomenal {
			background: url("../../images/light_yellow.png") no-repeat;
		}
		.project_card_behalf {
			background: url("../../images/light_blue.png") no-repeat;
		}
	}

	.hyperlink {
		color: partial_color.$hyperlink_font_color; 
		text-decoration: none;
	}
	.hyperlink:hover {
		text-decoration: underline;
	} 
	.Theana {
		color: #45B549; //partial_color.$theana_font_color;
	}

	.divider_contact_links {
		border-top: 1px solid #ededed;
		
	}
}
	.email_link {
		color:#45B549 !important; //partial_color.$theana_font_color;
		text-decoration:none;
	}
	.email_link:hover {
		text-decoration: underline;
	}

// a:link {
//   text-decoration: none;
//   color:black;
// }

// a:visited {
//   text-decoration: none;
//   color:black;
// }

// a:hover {
//   color:none;
// }

// a:active {
//   color:none;
// }



