@use 'partial_font';
@use 'partial_color';

html {
    @extend %default-font;
    font-size:partial_font.$default-font-small-size;
}

.title {    
    @extend %title-font;
    font-size: partial_font.$title-mid-font-size;
}

.nav_link {
    @extend %nav-link-font ;
    font-size: partial_font.$nav-link-small-font-size;
}

.nav_modal_content {
	.nav_modal_title {
		@extend %title-font;
		font-size: partial_font.$title-mid-font-size;
	}
	.nav_modal_link {
		@extend %nav-link-font;
		font-size: partial_font.$nav-link-mid-font-size;
	}
}






.content {

	.intro_highlight {
		@extend %intro-big-font;
		font-size: partial_font.$intro-big-font-size;
	}

	.intro {
		@extend %intro-regular-font;
		font-size:  partial_font.$intro-regular-font-size;
		//color: rgb(0,0,0,0.6);
	}



}

	.fave_font {
	 	@extend %fave-font;
		font-family: 'apercu';
   		font-size: 50px;
	}


