//parallax effects of moving 
//gthe card clsoer to the monitor
//along the z axis

	.project_cards {
		img {
			transform: perspective(100px) translateZ(0px);
  			transition: transform .3s linear;
		}
		img:hover {
			transform: perspective(100px) translateZ(3px);
		}

	}


.hamburger_dropdown_icon:hover {
	cursor: pointer;
}

.close_nav_modal_icon:hover {
	cursor: pointer;
}
