//minimum left and righ margin 
body {
	display: grid;
}

.nav_bar {
	grid-row-start: 1;
	display: block;
	position: relative;
	

	.title, .nav_links {
		position: absolute;
	}

	.title{
		left: 10%;
	}
	.nav_links{
		right: 10%;
	}
}

.content {
	grid-row-start: 2;
	
	display: grid;
	

	.intro_highlight, .intro, .current_learning, .project_cards, .contact, .divider_contact_links, .media_links {
		grid-column-start: 2;
		column-span: 1;
	}

	.divider_contact_links {		
		width:100%;
	}


	.project_cards {
		display: grid;
		//grid-template-columns: 1fr;

		.project_card_theana, .project_card_pashi,.project_card_behalf, .project_card_phonomenal {
			//width: 100%;
        	///height: auto;
        	//border-radius: 5px;
        	background-size: 100% auto;
		}
		.project_card_theana {
			background: url("../../images/light_purple.png") no-repeat;
		}
		.project_card_pashi {
			background: url("../../images/light_pink.png") no-repeat;
		}
		.project_card_phonomenal {
			background: url("../../images/light_yellow.png") no-repeat;
		}
		.project_card_behalf {
			background: url("../../images/light_blue.png") no-repeat;
		}
	}
}



	.fave_glyph_image {

		display: block;
		margin:auto;
		width: 200px;
        height: 200px;
        background: url("../../images/apercu_g_glyph_regular_bordered.svg") no-repeat;
        // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

        transition: 0.3s;
	}

	.fave_glyph_image:hover {

        background: url("../../images/apercu_g_glyph_regular_hovered.svg") no-repeat;
 
        cursor: pointer ;
	}





// desktop and ipad media queries
@media (max-width: 300px) {
	.content  {
		grid-template-columns: 30px 1fr 30px;
	}
}

//ipad pro 12'9 screen size (portrait) 
@media (min-width: 301px) {
	.content {
		grid-template-columns: 0.15fr 1fr 0.15fr;
	}
}


@media (min-width: 861px) {
	.content  {
		.project_cards {
			grid-template-columns: 1fr 1fr;
		}
	}
}

//cap the width of the intro paragraphs
@media (min-width: 1136px) {
	.content  {
		.intro_highlight, .intro {
			width: 860px;
		}

	}
}

@media (min-width: 1455px) {
	.content  {
		grid-template-columns: 1fr 1221px 1fr;

	}
}


//iphone media queries
%mobile-layout {
	.content  {
		grid-template-columns: 30px 1fr 30px;

		.project_cards {
			grid-template-columns: 1fr;
		}
	}
}

// iPhone 6, 7, & 8portrait & landscape mode
 @media screen 
 	and (device-width : 375px)   
    and (device-height : 667px) 
    and (-webkit-device-pixel-ratio : 2) {
    .content  {
		grid-template-columns: 30px 1fr 30px;

		.project_cards {
			grid-template-columns: 1fr;
		}
	}
}

//iPhone 8 plus
 @media screen 
 	and (device-width : 414px)   
    and (device-height : 736px) 
    and (-webkit-device-pixel-ratio : 2) {
    .content  {
		grid-template-columns: 30px 1fr 30px;

		.project_cards {
			grid-template-columns: 1fr;
		}
	}
}
