//minimum left and righ margin 
body {
	display: grid;
	//overflow-y: hidden; /* no vertical scrolling*/
}

.nav_bar {
	.hamburger_dropdown_icon {
	  	display: none;
	  		
	}
}

.content {
	//grid-row-start: 2;
	display: grid;
	
	.intro_section, .project_cards, .contact, .divider_contact_links, .media_links, .email {
		grid-column-start: 2;
		column-span: 1;
	}

	.divider_contact_links {		
		width:100%;
	}

	.project_cards {
		display: grid;
		//grid-template-columns: 1fr;

		.project_card_theana, .project_card_pashi,.project_card_behalf, .project_card_phonomenal {
			//width: 100%;
        	///height: auto;
        	//border-radius: 5px;``
        	background-size: 100% auto;
		}
	}
}

.nav_modal {
	 	//grid-row-start: 1;
}
//separate navigation bar with hamburger dropdown icon for resolutions below 600px:
//if screen size is below 600px in height, hide the nav bar but not 'mark pham' and show a hamburger dropdown instead
@media screen and (max-width: 700px) {
	.nav_bar .links .nav_links span {
		display: none;
	}

	.nav_bar {
		.hamburger_dropdown_icon {
			display: block;
		}  	
  	}
}


// desktop and ipad media queries
@media (max-width: 300px) {
	.content, .nav_bar  {
		grid-template-columns: 30px 1fr 30px;
	}
}

@media (min-width: 301px) {
	.content, .nav_bar {
		grid-template-columns: 0.11fr 1fr 0.11fr;
	}
}

@media (min-width: 861px) {
	.content, .nav_bar  {
		.project_cards {
			grid-template-columns: 1fr 1fr;
		}
	}
}

@media (min-width: 1136px) {
	.content, .nav_bar  {
		.intro_highlight, .intro {
			width: 860px;
		}
	}
}

@media (min-width: 1455px) {
	.content, .nav_bar  {
		grid-template-columns: 1fr 1121px 1fr;
	}
}


//iphone media queries
%mobile-layout {
	.content, .nav_bar  {
		grid-template-columns: 30px 1fr 30px;

		.project_cards {
			grid-template-columns: 1fr;
		}
	}
}

// iPhone 6, 7, & 8portrait & landscape mode
 @media screen 
 	and (device-width : 375px)   
    and (device-height : 667px) 
    and (-webkit-device-pixel-ratio : 2) {
    .content, .nav_bar  {
		grid-template-columns: 30px 1fr 30px;

		.project_cards, {
			grid-template-columns: 1fr;
		}
	}
}

//iPhone 8 plus
 @media screen 
 	and (device-width : 414px)   
    and (device-height : 736px) 
    and (-webkit-device-pixel-ratio : 2) {
    .content , .nav_bar {
		grid-template-columns: 30px 1fr 30px;

		.project_cards {
			grid-template-columns: 1fr;
		}
	}
}



.fave_glyph_image {

	display: block;
	margin:auto;
	width: 200px;
    height: 200px;
    background: url("../../images/apercu_g_glyph_regular_bordered.svg") no-repeat;
    // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    transition: 0.3s;
}

.fave_glyph_image:hover {

    background: url("../../images/apercu_g_glyph_regular_hovered.svg") no-repeat;

    cursor: pointer ;
}

